#chart rect.bars {
  fill: steelblue;
}

#chart rect.background {
  fill: white;
}

#chart rect.dynamic {
	fill:black;
	fill-opacity:.3;
}

#wrapper {
	position:relative;
	width:1100px;
	background-color:#ccc;
	margin: 10px auto;
	padding:10px;
}

.chart-section {
	position:relative;
	left: 50%;
	margin: 10px 0px 10px -500px;
}

.chart-border {
	position:relative;
	background-color:white;
	border: 3px solid black;
	display:inline-block;
}

#stats {
	position: absolute;
	top: 10px; 
	right: 10px; 
	border: 3px double black; 
	width: 200px;
	padding: 0px 10px;  
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  	fill: none;
  	stroke: #000;
  	shape-rendering: crispEdges;
}

.axis text {
	fill:black;
	font: 10px sans-serif;
}

.brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}