#chart rect.bars {
  fill: steelblue;
}

#chart rect.bars:hover, #chart rect.background:hover+rect.bars {
	fill: yellow;
}

#chart rect.background {
  fill: white;
}

#chart rect.dynamic {
	fill:black;
	
}

#chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

#div-svg {
	position: relative;
	display: inline-block;
	left: 50%;
	margin: 50px 0px 0px -500px;
	border: 3px double black;
}

#stats {
	position: absolute;
	top: 10px; 
	right: 10px; 
	border: 3px double black; 
	width: 200px;
	padding: 0px 10px;  
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}